apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
        - name: myapp
          image: 420838436623.dkr.ecr.ap-south-1.amazonaws.com/hello-java:main-8
          ports:
            - containerPort: 8080
